 <!-- CABEZERA Y NAV HERO -->
 <app-cabezera-y-nav></app-cabezera-y-nav>

 <!-- CONTENIDO PRINCIPAL DE LA PAGINA -->
 <main> 
   <!-- MI PRESENTACION -->
  <app-presentacion></app-presentacion>
 
   <!-- MIS HABILIDADES -->
   <app-habilidades></app-habilidades>
 
   <!-- EDUCACION -->
 
   <app-educacion></app-educacion>
 
 
   <!-- IDIOMAS -->
 
   <!-- EXPERIENCIA -->
 <!-- EXPERIENCIA LABORAL -->
   <app-experiencia></app-experiencia>
   <!-- HARD AND SOFT SKILLS -->
   <app-skills></app-skills>
 
   <!-- MIS PROYECTOS -->
   <app-proyectos></app-proyectos>
 
       
 </main>
 
 <!-- PIE DE PAGINA -->
   <app-pie-pagina></app-pie-pagina>
 
