@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@300;400;700&display=swap');

:root {
    --background: linear-gradient(135deg, #24a4df7e 0%, #741bcd98 100%);
    --background2: linear-gradient(135deg, #24a4df7e 0%, #edeaef98 100%);
    --background3: linear-gradient(135deg, #34679a 0%, #741bcd98 100%);
    --color-primary: #667eea;
    --color-secondary: #46b8e9;
    --color-tertiary: #99a6e0;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* CABEZERA Y NAV HERO */
.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero {
    height: 100vh;
    background-image: var(--background), url(src/assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;

}
.container__arg {
    display: flex;
}
.image__arg {
    width: 250px;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    justify-content: flex-start;
}
.hero .container {
    padding: 0;
}

.nav {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer {
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    /* lo hereda de su padre el nav--footer */
    font-weight: inherit; 
}

.nav__items--cta {
   border: 1px solid #fff; 
}

.nav__items--footer{
    padding: 10px;
}

.hero__container {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;
}

.hero__title {
    font-size: 3.2rem;
}

.hero__subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

/* BOTON ANTERIOR DESABILITADO */
.hero__cta {
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary) ;
    text-decoration: none;
    border-radius: 40px;
} 

/* LINKS DE CONTACTO */


.hero__wave {
    /* para que se posicione absolutamente dentro de su padre */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

}

/* CONTENIDO PRINCIPAL DE LA PAGINA */

/* MI PRESENTACION */

.presentation {
    padding-top: 0;
    text-align: center;
}

.presentation__picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    /* para centrar el rostro, la tomo desde arriba */
    object-position: top;
}

.presentation__copy {
    width: 80%;
    margin: 0 auto;
}


.presentation__icons {
    margin-top: 30px;
    /* distribuirlos equitativamente */
   display: flex; 
   justify-content: space-evenly;
}

.presentation__container-icons {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: var(--color-primary);
    text-align: center;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
}

.presentation__icon {
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    
}

.fa-brands.presentation__icon {
    /* centrar el icono al contenedor */
    line-height: 60px;
}
.fa-solid.presentation__icon {
    line-height: 60px;
}

/* HARD AND SOFT SKILLS */



/* MIS HABILIDADES- CON GRID */

.about {
    min-height: 400px;
    /* activamos la grilla para trabajar */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    /* centrar vertical */
    justify-items: center; 
    /* centrar horizontal */
    align-items: center;
}

.about__img {
    text-align: center;
}

.about__img--left {
    text-align: left;
}

.about__picture {
    max-width: 80%;
}

.about__paragraph {
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/* EDUCACION */

.education {
    background: #f2f2f2;
}
.education__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.education__item {
    width: 95%;
    margin: 0 auto;
    background: var(--background3);
    box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
}

.education__person {
    display: grid;
   
    align-items: center;
    margin-bottom: 20px;

}

.education__img {
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
}

.education__name {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.education__verification {
    color: #fff;
    font-weight: 700;

}

.education__review {
    font-weight: 300;
}

/* EXPERIENCIA LABORAL */

/* USO DE GRID */


.experiencia__grid {
    margin: auto;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
     gap: 10px;
     grid-auto-columns: 1fr;
     grid-auto-flow: dense;
     border-radius: 7px;
}

.experiencia__container{
    width: auto;
    margin: 0 auto;
    background: var(--background3);
    box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
    position: relative;
    height: auto;
    overflow: hidden;

}
.experiencia__item {
    grid-auto-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    background: var(--background3);
    box-shadow: 0 8px 10px rgba(240, 240, 240, 0.5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
    position: relative;
    height: auto;
    overflow: hidden;
}

.experiencia__individual {
    width: auto;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
    color: inherit;
    
   
}


.experiencia__name {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.experiencia__verification {
    color: #E0AFA0;
    font-weight: 700;

}

.experiencia__review {
    font-weight: 300;
}

/* SKILLS */


.skills {
    background: #f2f2f2;
  
}

.skill_text{
    
    width: auto;
    height: auto;
    
}
.skills__grid {
    margin: auto;
   display: grid;
   height: auto;
   width: auto;
   grid-template-columns: repeat(6, minmax(min-content, 200px));
    gap: 10px;
    grid-auto-columns: 1fr;
    grid-auto-flow: dense;

}



.skill__item{
    box-shadow: 0 8px 10px rgba(66, 66, 66, .5);
    background: var(--background3);
    color: #fff;
    border-radius: 4px;
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
}

.skill__individual{
    width: auto;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}




/* MIS PROYECTOS - CON GRID */

.projects {
    background: #f2f2f2;
}

.projects__grid {
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 10px;
}

.projects__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
 /* encajar cada imagen en su area respectiva */
.projects__item:nth-of-type(1) {
    grid-area: img1;
}

.projects__item:nth-of-type(2) {
    grid-area: img2;
}

.projects__item:nth-of-type(3) {
    grid-area: img3;
}

.projects__item:nth-of-type(4) {
    grid-area: img4;
}

.projects__item:nth-of-type(5) {
    grid-area: img5;
}

/* color que se superpone sobre la imagen al pasar el mouse */

.projects__hover {
    position: absolute;
    background: var(--background);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out ;
}

.projects__item:hover .projects__hover {
    transform: translateX(0%);
}

.projects_icon {
    margin-top: 10px;
    font-size: 30px;
}



/* PIE DE PAGINA */

.footer {
   background: var(--color-primary);
}

.footer__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title {
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons {
    /* distribuirlos equitativamente */
   display: flex; 
   justify-content: space-evenly;
}

.footer__container-icons {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__icon {
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    
}

.fa-brands.footer__icon {
    /* centrar el icono al contenedor */
    line-height: 60px;
}
.fa-solid.footer__icon {
    line-height: 60px;
}
/* -------------------------------------------------------------------- */
/* RESPONSIVE DESIGN a 800px */

@media screen and (max-width: 800px){
    :root {
        --boton-padding: 18px 40px;
    }
    /* CABEZERA Y NAV HERO */
    .nav {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
     .nav__items--cta {
       border: none; 
    }
    .nav__items {
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }
   
    .nav__items--footer {
        border: none;
    }
    .hero__texts {
        width: 100%;
        margin-bottom: 80px;
    }
    .hero__title {
        font-size: 2.5rem;
    }
    .hero__subtitle {
        font-size: 1.5rem;
    }
    /* MI PRESENTACION  */
    .presentation__copy {
        width: 100%;
    }

      /* Mis Skills */

      .skills__grid {
        
        grid-template-columns: repeat(4, minmax(min-content, 100px));
        
     }
    /* MIS HABILIDADES */
    .about {
        grid-template-columns: 1fr;
    }
    .about.container {
        padding-top: 30px;
    }
    .about__img--left {
        text-align: center;
    }
    .about__texts:last-child {
        grid-row: 3/4;
    }
    /* MIS PROYECTOS */
    .projects__grid {
        grid-template-areas: 
    "img1 img1 img2 img2"
    "img1 img1 img3 img3"
    "img4 img4 img5 img5";
    }
    /* EDUCACION */
    .education__grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    /* EXPERIENCIA */
    .experiencia__grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    /* PIE DE PAGINA */
    .footer__grid {
        grid-template-columns: 1fr;
    }
    .footer__contact {
        grid-row: 1/2;
    }

   
}

/* RESPONSIVE DESIGN a 500px */
@media screen and (max-width: 500px){
      /* Mis Skills */

      .skills__grid {
        
        grid-template-columns: repeat(3, minmax(min-content, 100px));
        
     }

     
}

/* RESPONSIVE DESIGN a 400px */
@media screen and (max-width: 400px){
    :root {
        --boton-padding: 18px 35px;
    }
    .subtitle {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }
    .nav {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }
    .nav__items {
        padding: 0 10px;
        border: 0;
    }
    .hero__texts {
        text-align: center;
        margin-bottom: 100px;
    }
    .hero__title {
        font-size: 2rem;
    }
    /* MI PRESENTACION  */
    .presentation__picture {
        width: 120px;
        height: 120px;
    }
    /* MIS HABILIDADES  */
    .about {
        row-gap: 60px;
    }
    .about.container {
        padding-top: 10px;
    }
    .about__texts {
        text-align: center;
    }

    /* Mis Skills */

    .skills__grid {
        
        grid-template-columns: repeat(3, minmax(min-content, 100px));
        
     }

    /* MIS PROYECTOS */
    .projects__grid {
        grid-template-areas: 
    "img1 img1"
    "img1 img1"
    "img2 img2"
    "img3 img3"
    "img4 img4"
    "img5 img5";
    height: auto;
    /* en el caso q agrege mas imagenes, automatizo el tamaño de las filas */
    /* grid-template-rows: repeat(5, 250px); */
    grid-auto-rows: 250px;
    gap: 10px;
    }

    /* EDUCACION */
    .Education__item {
        padding: 30px 15px;
    }
    .Education__person {
        flex-direction: column;
    }
    .Education__texts {
        text-align: center;
    }
    .Education__img {
        margin: 0;
        margin-bottom: 20px;
    }
    .Education__review {
        text-align: center;
    }
}