<footer class="footer">
    <div class="container footer__grid">
        <nav class="nav nav--footer">
            <a class="nav__items nav__items--footer" href="#home">Home</a>
            <a class="nav__items nav__items--footer" href="#about">About</a>
            <a class="nav__items nav__items--footer" href="#education">Education</a>
            <a class="nav__items nav__items--footer" href="#experiencia">Experience</a>
            <a class="nav__items nav__items--footer" href="#skills">Skills</a>
            <a class="nav__items nav__items--footer" href="#proyects">Proyects</a>
        </nav>
        <section class="footer__contact">
            <h3 class="footer__title">Contact Me</h3>
            <div class="footer__icons">
                <span class="footer__container-icons">
                    <a href="mailto:cristiangonzz@gmail.com? subject=subject text" class="fa-solid fa-envelope footer__icon" target="_blank"></a>
                </span>
                <span class="footer__container-icons">
                    <a href="https://twitter.com/Gaspar_string" class="fa-brands fa-twitter footer__icon" target="_blank"></a>
                </span>
                <span class="footer__container-icons">
                    <a href="https://wa.me/+5492604416183?text=¡Estoy+interesado!" class="fa-brands fa-whatsapp footer__icon" target="_blank"></a>
                </span>
                
            </div>
        </section>
    </div>
  </footer>
